.custom-btn-group {
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
}

.form-control:focus {
    border-color: #343a40;
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.25);
}

.accordion-button:focus {
    border-color: #343a40;
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.25);
}